In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('English_idioms_1.csv')

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Idiom             120 non-null    object
 1   Meaning           120 non-null    object
 2   Sentence Example  120 non-null    object
dtypes: object(3)
memory usage: 2.9+ KB

In [4]:
df1.head()

,Idiom,Meaning,Sentence Example
0,Under the weather,Feeling ill / Getting a cold,My mom was feeling a bit under the weather.
1,Cold feet,Becoming nervous,It was her chance to speak and she was getting...
2,Apple of my eye,Used to refer to someone whom you are very fon...,My younger brother is the apple of my eye.
3,Set the record straight,To reveal the truth / To clarify,"In order to set the record straight, the umpir..."
4,Kill two birds with a stone,Achieve two results by doing one thing,None of us understood that he was trying to ki...

In [5]:
df1.rename(columns = {'Sentence Example':'Example'}, inplace = True) 
df1

,Idiom,Meaning,Example
0,Under the weather,Feeling ill / Getting a cold,My mom was feeling a bit under the weather.
1,Cold feet,Becoming nervous,It was her chance to speak and she was getting...
2,Apple of my eye,Used to refer to someone whom you are very fon...,My younger brother is the apple of my eye.
3,Set the record straight,To reveal the truth / To clarify,"In order to set the record straight, the umpir..."
4,Kill two birds with a stone,Achieve two results by doing one thing,None of us understood that he was trying to ki...
...,...,...,...
115,Rain on one’s parade,To spoil someone’s moment of praise / To spoil...,Rachel did not really think she was raining on...
116,By the skin of your teeth,"By a very narrow margin, the slightest if chances",The doctors said that Manu had escaped serious...
117,Put all your eggs in one basket,Doing something risky,Rounak’s parents think that he is putting all ...
118,Put something on ice,To hold off something,We decided to put the case on ice until we had...
119,Cannot have a cake and eat it too,Cannot have everything for yourself,It is not at all that you have the cake and ea...

In [6]:
idiom_counts = df1['Idiom'].value_counts()
idiom_counts

Idiom
Under the weather                    1
Cold feet                            1
Fit as a fiddle                      1
Hear it from the horse’s mouth       1
Get wind of something                1
                                    ..
A piece of cake                      1
To weather the storm                 1
Worth its weight in gold             1
To say in a nutshell                 1
Cannot have a cake and eat it too    1
Name: count, Length: 120, dtype: int64

In [7]:
Meaning_counts = df1['Meaning'].value_counts()
Meaning_counts

Meaning
Feeling ill / Getting a cold                  1
Becoming nervous                              1
To be in good health                          1
To know something from the person involved    1
To have information about something secret    1
                                             ..
An easy task                                  1
To go through something difficult             1
To be highly valuable                         1
To sum up the points and be brief             1
Cannot have everything for yourself           1
Name: count, Length: 120, dtype: int64

In [8]:
sentence_counts = df1['Example'].value_counts()
sentence_counts

Example
My mom was feeling a bit under the weather.                    1
It was her chance to speak and she was getting cold feet.      1
My great grandmother is surprisingly fit as a fiddle.          1
We finally heard it from the horse’s mouth.                    1
It is so hard to get wind of what is going on here.            1
                                                              ..
Solving the Wordle everyday was just a piece of cake.          1
My mom taught me how to stand strong and weather the storm.    1
Every word of what you say is worth its weight in gold.        1
The teacher asked us to quote the findings in a nutshell.      1
It is not at all that you have the cake and eat it too.        1
Name: count, Length: 120, dtype: int64

In [9]:
for column in df1.columns:
    if df1[column].dtype == 'object':  # Check if column is of type object (text)
        df1[column] = df1[column].str.strip()
df1 = df1.drop_duplicates()
df1

,Idiom,Meaning,Example
0,Under the weather,Feeling ill / Getting a cold,My mom was feeling a bit under the weather.
1,Cold feet,Becoming nervous,It was her chance to speak and she was getting...
2,Apple of my eye,Used to refer to someone whom you are very fon...,My younger brother is the apple of my eye.
3,Set the record straight,To reveal the truth / To clarify,"In order to set the record straight, the umpir..."
4,Kill two birds with a stone,Achieve two results by doing one thing,None of us understood that he was trying to ki...
...,...,...,...
115,Rain on one’s parade,To spoil someone’s moment of praise / To spoil...,Rachel did not really think she was raining on...
116,By the skin of your teeth,"By a very narrow margin, the slightest if chances",The doctors said that Manu had escaped serious...
117,Put all your eggs in one basket,Doing something risky,Rounak’s parents think that he is putting all ...
118,Put something on ice,To hold off something,We decided to put the case on ice until we had...
119,Cannot have a cake and eat it too,Cannot have everything for yourself,It is not at all that you have the cake and ea...

In [10]:
idioms_with_meaning_example = df1[df1['Idiom'].str.contains('Meaning|Example')]
idioms_with_meaning_example

Empty DataFrame
Columns: [Idiom, Meaning, Example]
Index: []

In [11]:
df1.isna().sum()

Idiom      0
Meaning    0
Example    0
dtype: int64

In [12]:
df1.isnull().sum()

Idiom      0
Meaning    0
Example    0
dtype: int64

In [13]:
df1.to_csv('English_idioms_1.csv', index=False)

In [14]:
df2 = pd.read_csv('English_idioms_2.csv')

In [15]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90 entries, 0 to 89
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Idiom             90 non-null     object
 1   Meaning           90 non-null     object
 2   Sentence Example  89 non-null     object
dtypes: object(3)
memory usage: 2.2+ KB

In [16]:
df2.head()

,Idiom,Meaning,Sentence Example
0,"In for a penny, in for a pound",That someone is intentionally investing his ti...,"When Athlead was booming, Jim was in for a pen..."
1,A bird in the hand is better than two in the bush,"An opportunity in hand, currently, is better t...",The detective apprehended 3 criminals and saw ...
2,Chip off the old block,A person is similar in behaviour or actions to...,When grandmother saw her grandson collecting c...
3,Do unto others as you would have them do unto you,Treat people the same way you want to be treated.,I felt Peter was a little cold today towards t...
4,Don’t cry over spilt milk,Don’t cry over what has happened as it can not...,Walter failed his examination but his dad came...

In [17]:
df2.rename(columns = {'Sentence Example':'Example'}, inplace = True) 
df2

,Idiom,Meaning,Example
0,"In for a penny, in for a pound",That someone is intentionally investing his ti...,"When Athlead was booming, Jim was in for a pen..."
1,A bird in the hand is better than two in the bush,"An opportunity in hand, currently, is better t...",The detective apprehended 3 criminals and saw ...
2,Chip off the old block,A person is similar in behaviour or actions to...,When grandmother saw her grandson collecting c...
3,Do unto others as you would have them do unto you,Treat people the same way you want to be treated.,I felt Peter was a little cold today towards t...
4,Don’t cry over spilt milk,Don’t cry over what has happened as it can not...,Walter failed his examination but his dad came...
...,...,...,...
85,Forty winksMeaning: A short napExample: I will...,Available for everyone,This pizza slice is up for grabs!
86,Old as the hillsMeaning: Someone very oldExamp...,Start all over again,Your mistake brought us back to square one.
87,Round the bendMeaning: CrazyExample: My neighb...,Rushed,"I have to hurry for the meeting, I am against ..."
88,Black and blueMeaning: Something bruisedExampl...,Sad,"After meeting her, I am feeling the blues."
89,Be glad to see the back ofMeaning: Happy when ...,Faint,I blacked out after two drinks.

In [18]:
#Look at row with missing sentence example
df2[df2['Example'].isnull()]

                     Idiom         Meaning Example
23  Snug as a bug in a rug  Warm and cosy.     NaN

In [19]:
#Fill in missing value - issue with website had a sentence example but labeled as Meaning
df2.loc[23, 'Example'] = 'The baby looks as snug as a bug in a rug next to her mother.'

In [20]:
df2[df2['Example'].isnull()]

Empty DataFrame
Columns: [Idiom, Meaning, Example]
Index: []

In [21]:
Phrase_counts = df2['Idiom'].value_counts()
Phrase_counts

Idiom
Face the music                                                                                                           2
Put something on ice                                                                                                     1
Cut to the chase                                                                                                         1
Ring a bell                                                                                                              1
Go cold turkey                                                                                                           1
                                                                                                                        ..
Crying Wolf                                                                                                              1
Straight from the Horse’s mouth                                                                                          1
Lose your marbles                                                                                                        1
To not see the wood for the trees                                                                                        1
Be glad to see the back ofMeaning: Happy when someone leavesExample: Tomorrow, I will be glad to see the back of her.    1
Name: count, Length: 89, dtype: int64

In [22]:
#find where Idiom is Idiom Face the music  
df2[df2['Idiom'] == 'Face the music']

,Idiom,Meaning,Example
67,Face the music,Face the reality,Shikha asked her husband to not run away from ...
70,Face the music,Confront the unpleasant consequences of one’s ...,We have done it and now it’s time to face the ...

In [23]:
df2 = df2.drop(df2[df2['Idiom'].str.contains('Meaning|Example')].index)
df2

,Idiom,Meaning,Example
0,"In for a penny, in for a pound",That someone is intentionally investing his ti...,"When Athlead was booming, Jim was in for a pen..."
1,A bird in the hand is better than two in the bush,"An opportunity in hand, currently, is better t...",The detective apprehended 3 criminals and saw ...
2,Chip off the old block,A person is similar in behaviour or actions to...,When grandmother saw her grandson collecting c...
3,Do unto others as you would have them do unto you,Treat people the same way you want to be treated.,I felt Peter was a little cold today towards t...
4,Don’t cry over spilt milk,Don’t cry over what has happened as it can not...,Walter failed his examination but his dad came...
...,...,...,...
76,Through thick and thin,Through good and bad times,Books and music stay by your side through thic...
77,Cry for the moon,To ask for something that is rather difficult,You are crying for the moon for this concert’s...
78,Read between the lines,Understanding the real message behind something,"If you try to read between the lines, her song..."
79,Don’t give up a day’s job,You are not very good at something or you coul...,"I love painting, but I shouldn’t give up a day..."
80,Here are the most common 20 idioms with their ...,Saying something insulting in the form of appr...,Her words on my blog seem like a left-handed c...

In [24]:
Meaning_counts = df2['Meaning'].value_counts()
Meaning_counts

Meaning
That someone is intentionally investing his time or money for a particular project or task.    1
A really good invention.                                                                       1
To be in a low spirit                                                                          1
Confused                                                                                       1
To ignore what someone is saying.                                                              1
                                                                                              ..
To go insane.                                                                                  1
To be so involved in trivial matters that you don’t get the important facts.                   1
To start performing better                                                                     1
Warm and cosy.                                                                                 1
Saying something insulting in the form of appreciative words.                                  1
Name: count, Length: 81, dtype: int64

In [25]:
sentence_counts = df2['Example'].value_counts()
sentence_counts

Example
When Athlead was booming, Jim was in for a penny and in for a pound, that’s how dedicated he was.    1
Bluetooth is officially the best thing since sliced bread.                                           1
When I got to know about the increasing cases of COVID-19 in my area, I was in the doldrums.         1
I was at sea while choosing a lehenga for my sister’s wedding at Manish Malhotra’s store.            1
Whenever her mother complained of her excessive use of her mobile phone, Anu turned a deaf ear.      1
                                                                                                    ..
Our mailman has lost his marbles, every day he drops Mr. Smith’s mail on our door.                   1
He always argues on the silliest topics, it’s like he can’t see wood for the trees.                  1
Jennifer better step up her game if she wants to make big in Basketball.                             1
The baby looks as snug as a bug in a rug next to her mother.                                         1
Her words on my blog seem like a left-handed compliment.                                             1
Name: count, Length: 81, dtype: int64

In [26]:
for column in df2.columns:
    if df2[column].dtype == 'object':  # Check if column is of type object (text)
        df2[column] = df2[column].str.strip()

In [27]:
df2.isna().sum()

Idiom      0
Meaning    0
Example    0
dtype: int64

In [28]:
df2.isnull().sum()

Idiom      0
Meaning    0
Example    0
dtype: int64

In [29]:
df2.to_csv('English_idioms_2.csv', index=False)

In [30]:
df3 = pd.read_csv('English_idioms_3.csv')

In [31]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84 entries, 0 to 83
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Idiom             84 non-null     object
 1   Meaning           84 non-null     object
 2   Sentence Example  84 non-null     object
dtypes: object(3)
memory usage: 2.1+ KB

In [32]:
df3.head()

,Idiom,Meaning,Sentence Example
0,At First Blush,First sight,"At first blush, the proposal seems promising, ..."
1,A wet blanket,A person who discourages enjoyment or enthusiasm,Sarah’s constant pessimism and negative commen...
2,Your Guess is as Good as Mine,To have no idea about anything,“Will this flight reach on time?” “Your guess ...
3,Tuck in,"To put something in a secure place, to start e...",Mother cooked some delicious food and asked us...
4,Speak of the Devil,The person you’re talking about shows up at th...,I hope he doesn’t show up to the office today ...

In [33]:
df3.rename(columns = {'Sentence Example':'Example'}, inplace = True) 
df3

,Idiom,Meaning,Example
0,At First Blush,First sight,"At first blush, the proposal seems promising, ..."
1,A wet blanket,A person who discourages enjoyment or enthusiasm,Sarah’s constant pessimism and negative commen...
2,Your Guess is as Good as Mine,To have no idea about anything,“Will this flight reach on time?” “Your guess ...
3,Tuck in,"To put something in a secure place, to start e...",Mother cooked some delicious food and asked us...
4,Speak of the Devil,The person you’re talking about shows up at th...,I hope he doesn’t show up to the office today ...
...,...,...,...
79,Rock the boat,Doing something that causes problems,We already have too much homework; let’s not r...
80,Clean as a whistle,Meaning is free from dirt,"Like a fresh start, everything was clean as a ..."
81,Two heads are better than one,Refers to the idea that having more than one p...,Since two heads are better than one when it co...
82,A Rising tide lifts all boats,"It is associated with economic growth, wealth,...","How a rising tide lifts all boats, as it helps..."
83,Like a cat on hot tin roof,In an uneasy or nervous state,She’s waiting for the doctor to call with her ...

In [34]:
for column in df3.columns:
    if df3[column].dtype == 'object':  # Check if column is of type object (text)
        df3[column] = df3[column].str.strip()

In [35]:
Phrase_counts = df3['Idiom'].value_counts()
Phrase_counts

Idiom
At First Blush                1
To square the circle          1
Care killed the cat           1
To Catch One’s Eye            1
Clean Swipe                   1
                             ..
A ballpark figure             1
To balance the books          1
To get the sack               1
To be snowed under            1
Like a cat on hot tin roof    1
Name: count, Length: 84, dtype: int64

In [36]:
Meaning_counts = df3['Meaning'].value_counts()
Meaning_counts

Meaning
First sight                                                                                     1
To attempt something impossible                                                                 1
Don’t fret and worry yourself to death                                                          1
To attract attention                                                                            1
Winning without facing any defeat.                                                              1
                                                                                               ..
A general financial figure                                                                      1
To make certain that the amount of money spent is not more than the amount of money received    1
To be dismissed from your job                                                                   1
To be very busy                                                                                 1
In an uneasy or nervous state                                                                   1
Name: count, Length: 84, dtype: int64

In [37]:
sentence_counts = df3['Example'].value_counts()
sentence_counts

Example
At first blush, the proposal seems promising, but upon closer examination, its flaws become apparent.                                 1
Trying to convince her strict parents to let her go on a solo backpacking trip was like trying to square the circle.                  1
She couldn’t resist opening the mysterious package despite the warning label and care killed the cat.                                 1
Her vibrant red dress and confident demeanour were enough to catch anyone’s eye as she walked into the room.                          1
The ruling party made a clean sweep in the election, winning all the seats in the parliament.                                         1
                                                                                                                                     ..
The project manager gave us a ballpark figure for the budget, estimating it to be around $50,000, but the actual costs could vary.    1
The company was accused of balancing the books to inflate its profits and deceive investors.                                          1
After consistently showing up late for work, he eventually got sacked from his job                                                    1
I can’t go out tonight, I’m snowed under with work and deadlines                                                                      1
She’s waiting for the doctor to call with her test results, so she’s been like a cat on a hot tin roof all day.                       1
Name: count, Length: 84, dtype: int64

In [38]:
idioms_with_meaning_example = df3[df3['Idiom'].str.contains('Meaning|Example')]
idioms_with_meaning_example

Empty DataFrame
Columns: [Idiom, Meaning, Example]
Index: []

In [39]:
df3.isna().sum()

Idiom      0
Meaning    0
Example    0
dtype: int64

In [40]:
df3.isnull().sum()

Idiom      0
Meaning    0
Example    0
dtype: int64

In [41]:
df3.to_csv('English_idioms_3.csv', index=False)

In [42]:
df4 = pd.read_csv('English_idioms_4.csv')

In [43]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Idiom             29 non-null     object
 1   Meaning           29 non-null     object
 2   Sentence Example  29 non-null     object
dtypes: object(3)
memory usage: 828.0+ bytes

In [44]:
df4.rename(columns = {'Sentence Example':'Example'}, inplace = True) 
df4.head()

,Idiom,Meaning,Example
0,Shoot from the hip,To speak bluntly or rashly without thinking ca...,Don’t feel bad about what he said. He has a ha...
1,Shoot oneself in the foot,To harm one’s own cause inadvertently,"Foolishly harm one’s own cause, as in He reall..."
2,In cold blood,If you do something violent and cruel in cold ...,"In a purposely ruthless and unfeeling manner, ..."
3,Draw first blood,"If you draw first blood, you cause the first d...",To be the first to gain an advantage or score ...
4,Ace up one’s sleeve,A secret or hidden advantage that you can use ...,Cheating at a card game by hiding a favourable...

In [45]:
for column in df4.columns:
    if df4[column].dtype == 'object':  # Check if column is of type object (text)
        df4[column] = df4[column].str.strip()
df4.head()

,Idiom,Meaning,Example
0,Shoot from the hip,To speak bluntly or rashly without thinking ca...,Don’t feel bad about what he said. He has a ha...
1,Shoot oneself in the foot,To harm one’s own cause inadvertently,"Foolishly harm one’s own cause, as in He reall..."
2,In cold blood,If you do something violent and cruel in cold ...,"In a purposely ruthless and unfeeling manner, ..."
3,Draw first blood,"If you draw first blood, you cause the first d...",To be the first to gain an advantage or score ...
4,Ace up one’s sleeve,A secret or hidden advantage that you can use ...,Cheating at a card game by hiding a favourable...

In [46]:
Phrase_counts = df4['Idiom'].value_counts()
Phrase_counts.head()

Idiom
Shoot from the hip               1
Have your heart in your mouth    1
Bounce something off someone     1
Make one’s blood boil            1
Over my dead body                1
Name: count, dtype: int64

In [47]:
Meaning_counts = df4['Meaning'].value_counts()
Meaning_counts.head()

Meaning
To speak bluntly or rashly without thinking carefully                                                                        1
If you’ve your heart in your mouth, you’re feeling extremely nervous.                                                        1
If you bounce something off someone, you discuss ideas or plan with someone to get their view on it.                         1
To make someone extremely angry                                                                                              1
If you say something will happen to your dead body, you mean you dislike it and will do everything you can to prevent it.    1
Name: count, dtype: int64

In [48]:
sentence_counts = df4['Example'].value_counts()
sentence_counts.head()

Example
Don’t feel bad about what he said. He has a habit of shooting from the hip, but he means no harm                                          1
You sure don’t seem relaxed—in fact, it seems like your heart is in your mouth.                                                           1
I caught the rubber ball when it bounced off the wall. The light bouncing off of that mirror is blinding me—can we close the curtains?    1
When I hear stories of cruelty to animals, it makes my blood boil.                                                                        1
I told John that he could shave his head, over my dead body.                                                                              1
Name: count, dtype: int64

In [49]:
df4.isna().sum()

Idiom      0
Meaning    0
Example    0
dtype: int64

In [50]:
df4.isnull().sum()

Idiom      0
Meaning    0
Example    0
dtype: int64

In [51]:
df4.to_csv('English_idioms_4.csv', index=False)

In [52]:
idioms_with_meaning_example = df4[df4['Idiom'].str.contains('Meaning|Example')]
idioms_with_meaning_example

Empty DataFrame
Columns: [Idiom, Meaning, Example]
Index: []

In [53]:
df5 = pd.read_csv('English_idioms_5.csv')

In [54]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120 entries, 0 to 119
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Strong Text  120 non-null    object
 1   Other Text   120 non-null    object
dtypes: object(2)
memory usage: 2.0+ KB

In [55]:
df5.head()

      Strong Text                                         Other Text
0             Ace  – is used to describe something that is awesom...
1        Any road  – when you hear this, the person isn’t asking ...
2  A load of tosh  – is used to describe something that is not ve...
3     A Kent face  – commonly used in Scotland when a person has ...
4    Adam and Eve  – Cockney rhyming slang for believe. “Can you ...

In [56]:
df5.rename(columns = {'Strong Text':'Idiom','Other Text':'Meaning'}, inplace = True) 
df5

                      Idiom                                            Meaning
0                       Ace  – is used to describe something that is awesom...
1                  Any road  – when you hear this, the person isn’t asking ...
2            A load of tosh  – is used to describe something that is not ve...
3               A Kent face  – commonly used in Scotland when a person has ...
4              Adam and Eve  – Cockney rhyming slang for believe. “Can you ...
..                      ...                                                ...
115                   Yonks  – when you haven’t seen someone for a long tim...
116           Yank my chain  – if you tease someone about something they ar...
117                  Zonked  – is used when someone is sleeping or by someo...
118          Zebra crossing  – is often used to describe the black and whit...
119  Catch a few Zzzzzzzzzz            – is used when you want to go to sleep.

[120 rows x 2 columns]

In [57]:
Phrase_counts = df5['Idiom'].value_counts()
Phrase_counts

Idiom
Ace                       1
Any road                  1
Taking the piss           1
Shagged                   1
Stitched up               1
                         ..
Hunky-dory                1
Horses for courses        1
Hammered                  1
Gobby                     1
Catch a few Zzzzzzzzzz    1
Name: count, Length: 120, dtype: int64

In [58]:
Meaning_counts = df5['Meaning'].value_counts()
Meaning_counts

Meaning
– is used to describe something that is awesome. A word that is popular in the north and amongst youngsters.                                                                            1
– when you hear this, the person isn’t asking you to pick a road! They are most likely substituting it for “anyway” and the context could be “any road are you from China or Japan.”    1
– If you hear this being used it means one person is shocked at what another person is doing or saying.                                                                                 1
– This can mean a number of things some ruder than others. But the most common use is when someone is expressing how tired they are.                                                    1
– is when someone has taken advantage of you. For example, when a classmate nominates you to lead a presentation you can certainly claim to “have been stitched up.”                    1
                                                                                                                                                                                       ..
– is just a cool way of saying that something is just fine!                                                                                                                             1
– this is a popular saying that means that we all have different tastes and what is right for one person isn’t necessarily right for another person.                                    1
– is the slang word used to describe someone who is very drunk. You can say someone is tipsy if they appear to be a bit drunk.                                                          1
– is used to describe someone who talks a lot and has a lot of opinions, and not necessarily in a good way.                                                                             1
– is used when you want to go to sleep.                                                                                                                                                 1
Name: count, Length: 120, dtype: int64

In [59]:
df5['Meaning'] = df5['Meaning'].str.replace('–', '', n=1, regex=True)
df5

                      Idiom                                            Meaning
0                       Ace   is used to describe something that is awesome...
1                  Any road   when you hear this, the person isn’t asking y...
2            A load of tosh   is used to describe something that is not ver...
3               A Kent face   commonly used in Scotland when a person has s...
4              Adam and Eve   Cockney rhyming slang for believe. “Can you A...
..                      ...                                                ...
115                   Yonks   when you haven’t seen someone for a long time...
116           Yank my chain   if you tease someone about something they are...
117                  Zonked   is used when someone is sleeping or by someon...
118          Zebra crossing   is often used to describe the black and white...
119  Catch a few Zzzzzzzzzz              is used when you want to go to sleep.

[120 rows x 2 columns]

In [60]:
df5.isna().sum()

Idiom      0
Meaning    0
dtype: int64

In [61]:
df5.isnull().sum()

Idiom      0
Meaning    0
dtype: int64

In [62]:
df5.to_csv('English_idioms_5.csv', index=False)

In [63]:
df6 = pd.read_csv('English_idioms_6.csv')

In [64]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2598 entries, 0 to 2597
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Strong Text  2598 non-null   object
 1   Column 1     2598 non-null   object
 2   Column 2     2532 non-null   object
 3   Column 3     443 non-null    object
 4   Column 4     1 non-null      object
 5   Column 5     1 non-null      object
 6   Column 6     1 non-null      object
dtypes: object(7)
memory usage: 142.2+ KB

In [65]:
df6.head()

,Strong Text,Column 1,Column 2,Column 3,Column 4,Column 5,Column 6
0,abs,n.,abdominal muscles.,Nice abs. You been working out?,NaN,NaN,NaN
1,ace,n.,best; top-notch; most competent person,NaN,NaN,NaN,NaN
2,ace,v.,do extremely well on a test or exam.,I aced that exam.,NaN,NaN,NaN
3,acid,n.,lysergic acid diethylamide.,Have you ever dropped acid?,NaN,NaN,NaN
4,acid head,n.,user of LSD.,He was an acid head in college but hasn't used...,NaN,NaN,NaN

In [66]:
#rename the first four columns 
df6.rename(columns = {'Strong Text':'Idiom','Column 1':'Part_of_Speech', 'Column 2':'Meaning', 'Column 3':'Example'}, inplace = True) 
df6

,Idiom,Part_of_Speech,Meaning,Example,Column 4,Column 5,Column 6
0,abs,n.,abdominal muscles.,Nice abs. You been working out?,NaN,NaN,NaN
1,ace,n.,best; top-notch; most competent person,NaN,NaN,NaN,NaN
2,ace,v.,do extremely well on a test or exam.,I aced that exam.,NaN,NaN,NaN
3,acid,n.,lysergic acid diethylamide.,Have you ever dropped acid?,NaN,NaN,NaN
4,acid head,n.,user of LSD.,He was an acid head in college but hasn't used...,NaN,NaN,NaN
...,...,...,...,...,...,...,...
2593,zonk out,v.,collapse from fatigue,NaN,NaN,NaN,NaN
2594,zonked,adj.,drunk; intoxicated,NaN,NaN,NaN,NaN
2595,zonked,adj.,fatigued; tired; exhausted.,I'm totally zonked from studying.,NaN,NaN,NaN
2596,zonked out,adj.,drunk; intoxicated,NaN,NaN,NaN,NaN
2597,zonked out,adj.,fatigued; tired; exhausted.,He's really zonked out from studying so much.,NaN,NaN,NaN

In [67]:
#viewing the column with one value
df6[df6['Column 4'].notna()]

,Idiom,Part_of_Speech,Meaning,Example,Column 4,Column 5,Column 6
291,buck,n.,one dollar.,That costs two bucks.,v.,go against; resist; make a difference choice.,"Don't buck the trend, you'll look silly."

In [68]:
new_data = {'Idiom': df6[df6['Column 4'].notna()]['Idiom'],
    'Part_of_Speech': df6[df6['Column 4'].notna()]['Column 4'],
    'Meaning': df6[df6['Column 4'].notna()]['Column 5'],
    'Example': df6[df6['Column 4'].notna()]['Column 6']
}
new_row = pd.DataFrame(new_data)

# Append the new row to the original DataFrame
df6 = pd.concat([df6, new_row], ignore_index=True)

# Now, remove the old columns
df6 = df6.drop(columns=['Column 4', 'Column 5', 'Column 6'])

df6.head()

,Idiom,Part_of_Speech,Meaning,Example
0,abs,n.,abdominal muscles.,Nice abs. You been working out?
1,ace,n.,best; top-notch; most competent person,NaN
2,ace,v.,do extremely well on a test or exam.,I aced that exam.
3,acid,n.,lysergic acid diethylamide.,Have you ever dropped acid?
4,acid head,n.,user of LSD.,He was an acid head in college but hasn't used...

In [69]:
# Drop rows where either 'Meaning' or 'Phrase' is missing
df6 = df6.dropna(subset=['Meaning', 'Idiom'], how='any')

# Drop rows with the same meanings and phrases
df6 = df6.drop_duplicates(subset=['Meaning', 'Idiom'])

df6.shape

(2528, 4)

In [70]:
for column in df6.columns:
    if df6[column].dtype == 'object':  # Check if column is of type object (text)
        df6[column] = df6[column].str.strip()

df6

,Idiom,Part_of_Speech,Meaning,Example
0,abs,n.,abdominal muscles.,Nice abs. You been working out?
1,ace,n.,best; top-notch; most competent person,NaN
2,ace,v.,do extremely well on a test or exam.,I aced that exam.
3,acid,n.,lysergic acid diethylamide.,Have you ever dropped acid?
4,acid head,n.,user of LSD.,He was an acid head in college but hasn't used...
...,...,...,...,...
2594,zonked,adj.,drunk; intoxicated,NaN
2595,zonked,adj.,fatigued; tired; exhausted.,I'm totally zonked from studying.
2596,zonked out,adj.,drunk; intoxicated,NaN
2597,zonked out,adj.,fatigued; tired; exhausted.,He's really zonked out from studying so much.
2598,buck,v.,go against; resist; make a difference choice.,"Don't buck the trend, you'll look silly."

In [71]:
Phrase_counts = df6['Idiom'].value_counts()
Phrase_counts

Idiom
dick            6
sack            5
cut             5
crack           5
hot             5
               ..
full bull       1
full bird       1
fugly           1
fudge packer    1
in play         1
Name: count, Length: 2071, dtype: int64

In [72]:
parts_of_speech_counts = df6['Part_of_Speech'].value_counts()
parts_of_speech_counts

Part_of_Speech
n.         1328
v.          638
adj.        391
abbr.        87
exclam.      53
idiom.       24
adv.          5
V.            2
Name: count, dtype: int64

In [73]:
#lowercase all parts of speech 
df6['Part_of_Speech'] = df6['Part_of_Speech'].str.lower()
parts_of_speech_counts = df6['Part_of_Speech'].value_counts()
parts_of_speech_counts

Part_of_Speech
n.         1328
v.          640
adj.        391
abbr.        87
exclam.      53
idiom.       24
adv.          5
Name: count, dtype: int64

In [74]:
Meaning_counts = df6['Meaning'].value_counts()
Meaning_counts

Meaning
drunk;  intoxicated                               17
buttocks                                           8
nothing;  nothing at all                           7
penis                                              7
throw up; vomit                                    7
                                                  ..
opposite side  of a phonograph (vinyl) record      1
return trip,  esp. for a long trip                 1
other side of a  story, argument, or claim         1
go crazy; go  nuts; lose control                   1
go against;  resist; make a difference choice.     1
Name: count, Length: 2134, dtype: int64

In [75]:
sentence_counts = df6['Example'].value_counts()
sentence_counts

Example
Nice abs. You been working out?                                                       1
That car crash put him in the ICU for two weeks.                                      1
He's livin' large since his song  went gold.                                          1
So what's with the new lemon law?  Does it really protect consumers from bad cars?    1
Nice lats on that guy. He must work out a lot.                                        1
                                                                                     ..
This is what you gotta do, capish?                                                    1
Shut up or I'll cap you.                                                              1
He got canned for blogging too much at work.                                          1
Gotta go to the ca                                                                    1
Don't buck the trend, you'll look silly.                                              1
Name: count, Length: 440, dtype: int64

In [76]:
#replace empty values with ' ' in all columns
df6 = df6.fillna(' ')
df6.isna().sum()

Idiom             0
Part_of_Speech    0
Meaning           0
Example           0
dtype: int64

In [77]:
df6.isnull().sum()

Idiom             0
Part_of_Speech    0
Meaning           0
Example           0
dtype: int64

In [78]:
idioms_with_meaning_example = df6[df6['Idiom'].str.contains('Meaning|Example')]
idioms_with_meaning_example

Empty DataFrame
Columns: [Idiom, Part_of_Speech, Meaning, Example]
Index: []

In [79]:
df6.to_csv('English_idioms_6.csv', index=False)

In [80]:
dataframes = [df1, df2, df3, df4, df5, df6]

# Ensure each dataframe has a 'part_of_speech' column, fill with empty strings if it doesn't exist
for df in dataframes:
    if 'Part_of_Speech' not in df.columns:
        df['Part_of_Speech'] = ''

# Now concatenate the dataframes
result_df = pd.concat(dataframes, axis=0, join='outer', ignore_index=True)

# If you only want 'Idiom', 'Example', 'Meaning', and 'part_of_speech' columns in the result
result_df = result_df[['Idiom', 'Meaning', 'Example','Part_of_Speech']]

result_df
result_df.to_csv('English_idioms.csv', index=False)

In [81]:
part_counts = result_df['Part_of_Speech'].value_counts()
part_counts

Part_of_Speech
n.         1328
v.          640
            434
adj.        391
abbr.        87
exclam.      53
idiom.       24
adv.          5
Name: count, dtype: int64