In [16]:
import pandas as pd
from deep_translator import GoogleTranslator

In [28]:
df_amp = pd.read_csv("Spanish Transcript CSVs/Amponas_spoken_parts.csv", header=None)
df_bar = pd.read_csv("Spanish Transcript CSVs/Barberias_spoken_parts.csv", header=None)
df_dam = pd.read_csv("Spanish Transcript CSVs/Damitas_spoken_parts.csv", header=None)
df_far = pd.read_csv("Spanish Transcript CSVs/Farid_spoken_parts.csv", header=None)
df_fob = pd.read_csv("Spanish Transcript CSVs/Fobias_spoken_parts.csv", header=None)
df_ovn = pd.read_csv("Spanish Transcript CSVs/Ovnis_spoken_parts.csv", header=None)
df_sub = pd.read_csv("Spanish Transcript CSVs/Subio_spoken_parts.csv", header=None)
df_tec = pd.read_csv("Spanish Transcript CSVs/Techos_spoken_parts.csv", header=None)
df_Tri = pd.read_csv("Spanish Transcript CSVs/Triangulo_spoken_parts.csv", header=None)

In [29]:
#find the number of total rows in all dataframes
total_rows = len(df_amp) + len(df_bar) + len(df_dam) + len(df_far) + len(df_fob) + len(df_ovn) + len(df_sub) + len(df_tec) + len(df_Tri)
total_rows

1239

Two Methods to do standard translation either method works choose one with best for runtime
1. Setting up google translator and translate row by row
2. Setting up google translator and use batch function

In [19]:
# Set up translator change source and target language codes as needed es for spanish and en for english
translator = GoogleTranslator(source='es', target='en')

In [20]:
# create a list of dataframes
dfs = [df_amp,df_bar, df_dam, df_far, df_fob, df_ovn, df_sub, df_tec, df_Tri]

for i in dfs:
    i.columns = ['Text_Chunks']
    i['Translation_to_ENG'] = i['Text_Chunks'].apply(translator.translate)

In [21]:
# Adding a new column with the respective transcript names
df_amp['Podcast_Name'] = 'Amponas'
df_bar['Podcast_Name'] = 'Barberias'
df_dam['Podcast_Name'] = 'Damitas'
df_far['Podcast_Name'] = 'Farid'
df_fob['Podcast_Name'] = 'Fobias'
df_ovn['Podcast_Name'] = 'Ovnis'
df_sub['Podcast_Name'] = 'Subio'
df_tec['Podcast_Name'] = 'Techos'
df_Tri['Podcast_Name'] = 'Triangulo'
df_amp.head()

,Text_Chunks,Translation_to_ENG,Podcast_Name
0,"¿Cómo estás, soy turbulent? Y yo la burrita bu...","How are you, am I turbulent? And I'm the donke...",Amponas
1,Son largas y aparte esta esta mención es. Para...,They are long and apart from this this mention...,Amponas
2,Y han pasado personas muy importantes por esta...,And very important people have passed through ...,Amponas
3,Ciclo formal y a partir de aquí el podcast del...,Formal cycle and from here the podcast of the ...,Amponas
4,Pero hay que aclarar que obviamente seguiremos...,But it must be clarified that obviously we wil...,Amponas

In [22]:
#write csv files for each podcast
df_amp.to_csv('Amponas_translated.csv')
df_bar.to_csv('Barberias_translated.csv')
df_dam.to_csv('Damitas_translated.csv')
df_far.to_csv('Farid_translated.csv')
df_fob.to_csv('Fobias_translated.csv')
df_ovn.to_csv('Ovnis_translated.csv')
df_sub.to_csv('Subio_translated.csv')
df_tec.to_csv('Techos_translated.csv')
df_Tri.to_csv('Triangulo_translated.csv')

In [24]:
#df.drop('Translation_to_ENG_batch', axis=1, inplace=True)
# concatenate the dataframes
df_all = pd.concat(dfs)
df_all.shape

(1239, 3)

In [25]:
df_all.to_csv('Podcast_Translated_to_English.csv')